extends layout

block content
  h1= title

  #wrapper
    #form
      p Fill in a single word into each field below, according to the specified type of word.

      #formGrid
        table
          tbody

    #response
