extends layout

block content
  h1= title

  #wrapper
    #form
      p Fill in each of the fields below, according to the specified type of word or phrase. When you're finished, the site will generate a story using those words.

      p If you like the result, you can submit it to us by entering your email address and clicking the button to submit your result. If you want to try again, refresh the page.

      #formGrid
        table
          tbody

    #response
